.title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.word {
  display: flex;
  margin-left: 6px;
  margin-right: 6px;
}

.title,
.word,
.word_letter{
  cursor: default;
  transition: scale 0.1s;
}

.title:hover { scale: 1.025; }
.word:hover  { scale: 1.05; }
.word_letter:hover { scale: 1.075; }

.roboto{
  font-family: 'Roboto Mono', monospace;
}

.press_start{
  font-family: 'Press Start 2P', monospace;
}