.topbar {
  margin-top: 2rem;
  width: 80%;
  min-height: 10vw;
  background: var(--gray-800);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title strong{
  color: var(--white);
  font-size: 2vw;
  font-style: italic;
  text-decoration: underline;
}

.word {
  display: flex;
  margin-left: 6px;
  margin-right: 6px;
}

.title,
.word,
.word_letter{
  cursor: default;
  transition: scale 0.1s;
}

.title:hover { scale: 1.025; }
.word:hover  { scale: 1.05; }
.word_letter:hover { scale: 1.075; }