.headerBar{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper{
  max-width: 80rem;
  margin: 2rem auto;
  padding: 0 1rem;
}

.wrapper main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  height: 20vw;
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotated {
  transform: rotate(-10deg);
}