section{
  margin-top: 3vw;
  margin-bottom: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  width: 100%;
  height: 10vw;
  border-style: solid;
  border-radius: 1vw;
  border-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title>*{
  height: 100%;
}

.clock{
  width: 40%;
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.clock>div{
  margin-bottom: 3vw;
  border-radius: 1vw;
  border-style: outset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.weekBox,
.dateBox,
.timeBox{
  width: 100%;
  height: 20vh;
}

.clock p{
  font-family: 'Press Start 2P', monospace;
  font-size: 3vw;
}