:root{
  --pink: #ff6b99;
  --purple: #a70075;
  
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;
  
  --white: #ffffff;
  --black: #000000;
}

*{
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: 'Roboto Mono', monospace;
}

body{
  background: var(--gray-900);
  color: var(--gray-300);
}

/* SCROLL BAR */

/* WebKit browsers */
/* This *should* work, but /shrug, dont use chrome, so I can't test it.*/
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
/* See? firefox is way better, another W for Fire Fox*/
html {
  scrollbar-width: none;
}
