.firstSection {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerBar{
  height: 10vw;
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--gray-800);
  color: #ff0000;
  border-radius: 1vw;
  transform: rotate(-10deg);
}

.logo {
  height: 5vw;
  width: 5vw;
  animation: glitch 1s linear infinite;
}

@keyframes glitch {
  0% {transform: skewX(-10deg);}
  2% {transform: skewX(10deg);}
  4% {transform: skewX(0deg);}
}

.marquee {
  display: flex;
  overflow: hidden;
  gap: 0.8rem;
}

.marqueeContent {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: 0.8rem;
  font-family: 'Press Start 2P', monospace;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 0.8rem));
  }
}

.scroll{
  animation: scroll 24s linear infinite;
}